<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>button components</title>
  <link rel="stylesheet" href="./styles/button.css">
  <script type="module" src="./components.js"></script>
</head>
<body>
<!-- bookmark -->
<button type="button" class="bookmark" aria-label="북마크">
  <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M17 3.61621H7C5.9 3.61621 5.01 4.51621 5.01 5.61621L5 21.6162L12 18.6162L19 21.6162V5.61621C19 4.51621 18.1 3.61621 17 3.61621ZM17 18.6162L12 16.4362L7 18.6162V5.61621H17V18.6162Z" fill="currentColor"/>
  </svg>
</button>
<!-- search 
 - icon 클릭 시 새 창에 input 검색어 입력창이 뜸.
 - 입력창 '검색어를 입력하시오.' 
-->

<!-- notification 
 - icon 클릭시 알림 메세지 팝업 창이 뜸.
 - 알림이 없는 상태이므로, 팝업 창 가운데 '메세지가 없습니다.'
 -->

<!-- 자주하는 질문 -->

<!-- 방향키 
 - 오른쪽 클릭 시 슬라이드 오른쪽
 - 왼쪽 클릭 시 슬라이드 왼쪽 
-->
</body>
</html>